<nav class="brutal-nav-side" id="menu">
    {% for item in site.menuItems %}
    <a class="brutal-nav-link" {% if item.dialog %}data-ui="{{ item.dialog }}" href="#"{% elif item.url %}href="{{ item.url }}"{% endif %}>
        <i>{% icon item.icon %}</i>
        <span>{{ item.title }}</span>
    </a>
    {% endfor %}
</nav>

<nav class="brutal-nav-bottom">
    {% for item in site.menuItems %}
    <a class="brutal-nav-link" {% if item.dialog %}data-ui="{{ item.dialog }}" href="#"{% elif item.url %}href="{{ item.url }}"{% endif %}>
        <i>{% icon item.icon %}</i>
        <span>{{ item.title }}</span>
    </a>
    {% endfor %}
</nav>
