<div class="brutal-fab-panel">
    <button class="brutal-icon-btn" data-ui="#dialog-toc" aria-label="Spis zawartości">
        <i>{% icon "lucide:table-of-contents" %}</i>
        <span class="brutal-tooltip brutal-tooltip-right">Spis zawartości</span>
    </button>
    <a href="#top" class="brutal-icon-btn" aria-label="Wróć na początek strony">
        <i>{% icon "lucide:arrow-up" %}</i>
        <span class="brutal-tooltip brutal-tooltip-right">Wróć na początek</span>
    </a>
    <a href="https://github.com/{{ site.ghRepo }}/issues" class="brutal-icon-btn" aria-label="Utwórz Issue">
        <i>{% icon "lucide:bug" %}</i>
        <span class="brutal-tooltip brutal-tooltip-right">Utwórz Issue</span>
    </a>
</div>
