<header class="brutal-header-centered">

    <nav class="brutal-toolbar-box">
        <div class="brutal-toolbar-items">
            {% include "components/profile.njk" %}

            {% for item in site.toolbarItems %}

            {% if item.type == "menu" %}
            <button class="brutal-icon-btn" aria-label="{{ item.name }}">
                <i>{% icon item.icon %}</i>
                <span class="brutal-tooltip brutal-tooltip-bottom">{{ item.name }}</span>

                <menu class="brutal-menu">
                    {% for sub in item.items %}
                    <li>
                        {% if sub.href %}
                        <a href="{{ sub.href }}" class="brutal-menu-link">{{ sub.label }}</a>
                        {% else %}
                        <a class="brutal-menu-link">{{ sub.label }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </menu>
            </button>
            {% endif %}

            {% if item.type == "button" %}
            <button class="brutal-icon-btn" onclick="{{ item.onClick }}" aria-label="{{ item.name }}">
                <i>{% icon item.icon %}</i>
                <span class="brutal-tooltip brutal-tooltip-bottom">{{ item.name }}</span>
            </button>
            {% endif %}

            {% if item.type == "link" %}
            <a class="brutal-icon-btn" href="{{ item.href }}" aria-label="{{ item.name }}">
                <i>{% icon item.icon %}</i>
                <span class="brutal-tooltip brutal-tooltip-bottom">{{ item.name }}</span>
            </a>
            {% endif %}

            {% if item.type == "themeToggle" %}
            <button class="brutal-icon-btn" onclick="{{ item.onClick }}" aria-label="{{ item.name }}">
                <i class="dark">{% icon item.iconDark %}</i>
                <i class="light">{% icon item.iconLight %}</i>
                <span class="brutal-tooltip brutal-tooltip-bottom">{{ item.name }}</span>
            </button>
            {% endif %}

            {% endfor %}
        </div>

        {% if site.giscus.enabled %}
        <button class="brutal-icon-btn brutal-btn-highlight" data-ui="#dialog-comments" aria-label="Comments">
            <i>{% icon "lucide:messages-square" %}</i>
            <span class="brutal-tooltip brutal-tooltip-bottom">Comments</span>
        </button>
        {% endif %}

    </nav>

    {% include "components/search.njk" %}

</header>
