---
permalink: /tags/index.html
layout: layouts/default.njk
title: "Lista tagów"
description: Lista wszystkich użytych tagów w postach.
pagefind_ignore: true
---

<div class="brutal-page-wrapper">

    <header class="brutal-page-header">
        <h1 class="brutal-page-title">{{ title }}</h1>
        <p class="brutal-page-desc">{{ description }}</p>
    </header>

    <ul class="brutal-tags-grid">
        
        {% for tag in collections.tagsList %}
        <li>
            <a class="brutal-tag-link-large" href="/tags/{{ tag | slug }}/">
                <i>{% icon "lucide:hash" %}</i>
                <span>{{ tag }}</span>
            </a>
        </li>
        {% endfor %}
        
    </ul>

</div>
