---
permalink: /404.html
eleventyExcludeFromCollections: true
excludeFromSitemap: true
layout: layouts/default.njk
title: "Nie znaleziono strony"
description: Ewidentnie strona o podanym adrsie nie istnieje :)
---

<div class="large-space"></div>

<article class="transparent center-align post">
    <div>
      <h2>{{ title }}</h2>
      <p>
        {{ description }} <br>
        Wróć na <a href="/">stronę główną</a> lub wyświetl <a href="javascript:ui('#dialog-posts');">wszystkie posty</a>.
      </p>
      <div class="space"></div>
      <label>Jeżeli uważasz, że to błąd, daj znać poprzez otworzenie Issue na moim Githubie.</label>
      <nav class="center-align">
        <a class="button border" href="https://github.com/{{ site.ghRepo }}/issues/new">New issue</a>
      </nav>
    </div>
  </article>
